
<div class="container">
  <h1>MY ORDERS</h1>
  <table style="width: 100%;" class="table">
    <thead>
      <th>Id</th>
      <th>Order Date</th>
      <th>Product</th>
      <th>Total Price</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of myOrder">
        <td style="color: rgb(0, 140, 255);">{{ order.id }}</td>
        <td>{{ order.orderDate }}</td>
        <td>
          <p *ngFor="let item of order.items">{{ item.product.name }}</p>
        </td>
        <td>
          <p *ngFor="let item of order.items">{{ item.totalPrice | currency }}</p>
        </td>
        <td>
          <span *ngIf="order.status === 'unship'" style="background-color: rgb(245, 56, 56);">{{ order.status }}</span>
          <span *ngIf="order.status === 'shipped'" style="background-color: rgb(7, 250, 19);">{{ order.status }}</span>
          <span *ngIf="order.status === 'canceled'" style="background-color: rgb(204, 248, 7);">{{ order.status }}</span>
        </td>
      </tr>

    </tbody>
  </table>
</div>
