<div class="sticky-top">

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

    <a class="navbar-brand" routerLink = "/">
      <!-- <img src=""
      width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Bonne Humeur
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown has-megamenu">
            <a class="nav-link" id="navbarDropdownNam"
              role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              NAM
            </a>
            <div class="dropdown-menu megamenu"
              aria-labelledby="navbarDropdownNam border-0 p-0 m-0">

              <div class="row">
                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Accessories</li>
                      <li class="dropdown-item" href="#">Bags</li>
                      <li class="dropdown-item" href="#">Coats</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Denim</li>
                      <li class="dropdown-item" href="#">Jackets</li>
                      <li class="dropdown-item" href="#">Lether & Casual Jackets</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Pants & Shorts</li>
                      <li class="dropdown-item" href="#">Shirts</li>
                      <li class="dropdown-item" href="#">Shoes</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Sweater</li>
                      <li class="dropdown-item" href="#">T-Shirts</li>
                      <li class="dropdown-item" href="#">Fragrances</li>
                    </ul>

                  </div>

                </div>

              </div>
            </div>

        </li>

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link" routerLink = "/cart"
            id="navbarDropdownCart" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            NỮ
          </a>

          <div class="dropdown-menu megamenu"
              aria-labelledby="navbarDropdownNam border-0 p-0 m-0">

              <div class="row">
                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Accessories</li>
                      <li class="dropdown-item" href="#">Bags</li>
                      <li class="dropdown-item" href="#">Coats</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Denim</li>
                      <li class="dropdown-item" href="#">Dresses</li>
                      <li class="dropdown-item" href="#">Jackets</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Lether & Casual Jackets</li>
                      <li class="dropdown-item" href="#">Pants & Shorts</li>
                      <li class="dropdown-item" href="#">Shirts</li>
                    </ul>

                  </div>

                </div>

                <div class="col-md-3">
                  <div class="col-megamenu">
                    <ul class="list-style">
                      <li class="dropdown-item" href="#">Shoes</li>
                      <li class="dropdown-item" href="#">Sweater</li>
                      <li class="dropdown-item" href="#">Fragrances</li>
                    </ul>

                  </div>

                </div>

              </div>

          </div>

        </li>

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link" routerLink = "/cart"
            id="navbarDropdownCart" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            TRẺ EM
          </a>

          <div class="dropdown-menu megamenu"
              aria-labelledby="navbarDropdownNam border-0 p-0 m-0">

              <div class="row">
                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-child">
                      <li class="dropdown-item" href="#">Baby</li>

                    </ul>

                  </div>

                </div>

                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-child">
                      <li class="dropdown-item" href="#">Boys</li>

                    </ul>

                  </div>

                </div>

                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-child">
                      <li class="dropdown-item" href="#">Girls</li>

                    </ul>

                  </div>

                </div>

              </div>

          </div>

        </li>

        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link" routerLink = "/cart" id="navbarDropdownCart" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NHÃN HIỆU
          </a>

          <div class="dropdown-menu megamenu"
              aria-labelledby="navbarDropdownNam border-0 p-0 m-0">

              <div class="row">
                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-brand">
                      <li class="dropdown-item" href="#">
                        <img src="assets/gucci-logo.png" alt="" width="50%" height="50%">
                        <img src="assets/Gucci-look.png" alt="" width="50%" height="50%">
                      </li>

                    </ul>

                  </div>

                </div>

                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-brand">
                      <li class="dropdown-item" href="#">
                        <img src="assets/chanel-logo.png" alt="" width="50%" height="50%">
                        <img src="assets/chanel-look2.png" alt="" width="50%" height="50%">
                      </li>

                    </ul>

                  </div>

                </div>

                <div class="col-md-4">
                  <div class="col-megamenu">
                    <ul class="list-style-brand">

                      <li class="dropdown-item" href="#">
                        <img src="assets/lv-logo.png" alt="" width="50%" height="50%">
                        <img src="assets/lv-look3.png" alt="" width="50%" height="50%">
                      </li>

                    </ul>

                  </div>

                </div>

              </div>

            </div>

        </li>



      </ul>

      <ng-template #anonymousUser>

        <button class="btn btn-outline-dark" (click)="logIn()">LOGIN</button>

      </ng-template>

      <div class="appUser dropdown" *ngIf = "user; else anonymousUser">
        <a href="#" class="dropdown" id="navbarDropdownUsername"
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"
          style="text-decoration:none; color: black; font-size: 16px;">
          {{user.name}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUsername">
          <a class="dropdown-item" routerLink = "/my/orders">My Orders</a>

          <!-- Nếu user là admin thì show 2 item này, không thì thôi -->
          <ng-container *ngIf = "user.isAdmin">
            <a class="dropdown-item" routerLink = "/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink = "/admin/products">Manage Products</a>
          </ng-container>

          <a class="dropdown-item" (click) = "logOut()">Log out</a>
        </div>
      </div>




    </div>
  </nav>
  </div>

