
<div class="container">
  <h1>FAVORITE PRODUCTS</h1>
  <table style="width: 100%;">
    <tbody>
      <tr *ngFor="let f of favoriteProducts">
        <td>
          <img src="{{ f.img }}" width="100" height="auto">
        </td>
        <td class="fname">
          {{ f.name }}
          <p *ngIf="f.amount > 0; else notAvailable">có sẵn trong cửa hàng</p>

          <ng-template #notAvailable>
            <p style="color: red;">
              <mat-icon>info</mat-icon>
              hết hàng</p>
          </ng-template>
        </td>
        <td>
          <button *ngIf="f.amount > 0; else notAvailable2"
            class="btn btn-outline-dark btn-block"
            (click) = "addToCart(f)">ADD TO CART</button>

          <button *ngIf="f.amount > 0; else notAvailable2"
            class="btn btn-outline-dark btn-block"
            (click) = "removeFavourite(f)">REMOVE FAVOURITE</button>


          <ng-template #notAvailable2>
            <button class="btn btn-outline-dark btn-block" disabled>ADD TO CART</button>
          </ng-template>
        </td>
      </tr>

    </tbody>

  </table>
</div>
